html,
body {
	block-size: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: sans-serif;
}

/* container */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* heading */

/* book entry */
.book-entry-form {
	inline-size: 50%;
	block-size: 0;
	overflow: hidden;
	padding: 1rem 0;
}

.book-entry-form.closed {
	block-size: 0;
	transition-duration: 1s;
}

.book-entry-form.expand {
	block-size: 170px;
	transition-duration: 1s;
}

.hidden {
	display: none;
}

li {
	position: relative;
	list-style: none;
	margin: 1rem 0;
}

.hide-label {
	border: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.input {
	inline-size: 100%;
}

li::before {
	position: absolute;
	content: "*";
	color: red;
	block-size: 10px;
	inline-size: 10px;
	top: -0.75rem;
	left: 0;
}
/* table */

.input#pages {
	inline-size: 15%;
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-size: 0.8rem;
}

td,
th {
	inline-size: 150px;
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 20px;
}

th {
	background-color: rgb(235, 235, 235);
}

td {
	text-align: center;
}

tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
	background-color: rgb(245, 245, 245);
}

caption {
	padding: 10px;
}
